#board {
	border: 2px solid black;
	padding: 10px;
	letter-spacing: 1em;
}

#usedLetters {
	border: 2px solid red;
	padding: 10px;
}

#game-over {
	border: 2px dotted purple;
	padding: 10px;
}

.scoreBoard {
	background-color: gray;
	border: 2px solid blue;
}

h3 {
	color: green;
}

p {
	background-color: white;
	color: red;
}